.header {
	padding: 24px;
	background-color: $grey-100;

	.breadcrumbs {
		margin-bottom: 12px;

		ul.breadcrumb {
			background-color: transparent;
			padding: 0;
			margin: 0;

	    	.breadcrumb-item {
	    		line-height: 8px;
	    		font-size: 10px;
	    		letter-spacing: 1px;
	    		font-weight: 600;

	    		a {
	    			color: $blue-700;
	    		}

	    		+ .breadcrumb-item::before {
	    			line-height: 8px;
    				font-size: 10px;
    				letter-spacing: 1px;
    				color: $blue-700;
	    		}
	    	}

	    	.breadcrumb-item:last-child {
	    		a {
	    			color: $blue-500;
	    		}

	    		&::before {
    				color: $blue-500;
	    		}
	    	}
		}
	}

  h2 {
    margin-bottom: 8px;
  }

  .subheader {
    h5 {
      display: inline;
      opacity: 0.6;
      margin-right: 16px;
    }
  }

}
