.list {
  font-family: 'proxima-nova', sans-serif;

  .table > thead {
    tr > th {
      border-top: 0;
      border-bottom: 1px solid $grey-200;
      padding: 16px 16px 8px 16px;
      font-size: 9px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 8px;
      color: #0d47a1;

      &:first-child {
        padding-left: 24px;
      }

      &.active > a {
        color: $blue-900;
        &:hover {
          color: $blue-500;
        }
      }

      a {
        color: rgba($grey-700, 0.6);
        text-decoration: none;

        &:hover {
          color: $grey-700;
        }
      }
    }
  }

  .table > tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #fff;
      }

      &:nth-of-type(even) {
        background-color: $grey-050;
      }
    }

    tr > td {
      border-top: 0;
      border-bottom: 1px solid $grey-100;
      padding: 16px;
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;

      &:first-child {
        padding-left: 24px;
      }

      &.actions {
        .item {
          font-size: 16px;
          color: $grey-500;
          padding-right: 8px;
          text-decoration: none;
          float: right;
          &:hover {
            color: $grey-700;
          }
        }
      }
    }
  }
}
