//
// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: "proxima-nova", sans-serif;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $grey-800;
}

h1, .h1 { font-size: $font-size-h1; font-weight: 300; line-height: 48px; letter-spacing: -0.5px; }
h2, .h2 { font-size: $font-size-h2; font-weight: 400; line-height: 36px; }
h3, .h3 { font-size: $font-size-h3; font-weight: 400; line-height: 32px; }
h4, .h4 { font-size: $font-size-h4; font-weight: 400; line-height: 28px; }
h5, .h5 { font-size: $font-size-h5; font-weight: 600; line-height: 16px; letter-spacing: 0.5px; opacity: 0.6; }
h6, .h6 { font-size: $font-size-h6; font-weight: 700; line-height: 8px; letter-spacing: 1px; }

.type-headline {
  @include font-headline;
  color: $grey-800;
}

.primary-content {
  font-size: 13px;
  line-height: 16px;
  color: $grey-800;
}

.secondary-content, .terciary-content {
  font-size: 12px;
  opacity: 0.6;
  color: $grey-800;
  line-height: 16px;
}

.secondary-content {
  font-weight: 600;
}

.terciary-content {
  font-weight: 400;
}
