.btn {
  background-color: $blue-500;
  border: 1px solid $blue-500;
}

.btn-primary.btn-lg {
  padding: 16px 24px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  background-color: $blue-500;

  &:hover {
    background-color: $blue-800;
  }

  &:focus {
    color: rgba(#1A252B, 0.3);
    outline: 0;
  }
}

.btn-danger {
  background-color: $error-500;
  border: 1px solid $error-500;

  &:hover {
    background-color: #c62828;
    border: 1px solid #c62828;
  }

  &:focus {
    outline: 0;
  }
}
